@(books: List[Book])

@main("View books") {
  <table border="1">
    <tr>
      <th>Id</th>
      <th>Title</th>
      <th>Credit needed</th>
    </tr>    
    @for(b <- books){
    <tr>
      <td><form action="@routes.RentalManager.borrow()">@b.getId()
      <input type = "hidden" name="id" value=@b.getId() ></td>
      <td><input type = "hidden" name="title" value=@b.getTitle() >@b.getTitle()</td> 
      <td><input type = "hidden" name="credit" value=@b.getCredit() >@b.getCredit()</td>
      <td><input type="submit" value="Borrow"></td></form>
    </tr>
    }
  </table>
  <form action=@routes.Application.editList()>
    <input type="submit" value="Edit Book Details">
  </form>
  <form action=@routes.Application.create()>
    <input type="submit" value="Add New Book">
  </form>
  <form action=@routes.Application.deleteBook()>
    <input type="submit" value="Delete Book..">
  </form>
}
